



::selection{
  color: #fff;
  background: #664AFF;
}

.wrapper{
  width: 600px;
  
  
}

.wrapper .search-input{
  background: #fff;
  width: 100%;
  border-radius: 1px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input{
  height: 30px;
  width: 530px;
  outline: none;
  border: none;
  padding: 20px 20px;
  border-radius: 5px;
  font-size: 18px;
 
}
.search-input input::placeholder{
    font-size: 15px;
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  width: 565px;
  overflow-y: auto;
  position: absolute;
  top: 40px;
  background-color: #ffffff;
  z-index: 2;
}

.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
  
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  
}

.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}

.search-input .icon{
  position: absolute;
  right: 0px;
  top: -5px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}